html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url('fundo5.svg');
    background-size: contain;
    background-repeat: no-repeat; /* não repete a imagem */
    background-position: center;  /* centraliza a imagem */
}
  

.frame {
    border: 18px solid rgb(255, 255, 255);
    border-radius: 50px;
}

.box {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}